<h1>Blog Form</h1>
<h2>Create Your Blog</h2>
<form action="/createBlog" method="post">
    <label for="authorName"> Author Name</label>
    <input type="text" name="authorName" id="authorName">
    <label for="articleTitle">Article Title</label>
    <input type="text" name="articleTitle" id="articleTitle">
    <label for="categories">Category</label>
    <select name="categories" id="categories">
        <option value="creative"> Creative </option>
        <option value="fashion"> Fashion </option>
        <option value="lifestyle"> Lifestyle </option>
        <option value="travel"> Travel </option>
        <option value="nature"> Nature </option>
    </select>
    <textarea name="blogContent" id="blogContent" rows="10" cols="30">
    </textarea>
    <input type="submit" value="Create" name="submit">
    <input type="reset" value="Reset" id="reset" name="reset">
</form>