<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog WebApp</title>
</head>
<body>
    <h1> Welcome to Blog Application </h1>
    <!-- Main section starts  -->
    <main>
        
        <!-- Top Header Section Starts  -->
        <div class="topHeader">
            <div class="banner">
                <div class="createBlog">
                    <form action="/submitBlog" method="POST">
                        <input type="submit" name="submit" value="Create Your Blog">
                    </form>
                </div>
            </div>
        </div>
        <!-- Top Header Section Ends  -->

        <!-- Navigation bar Starts Starts-->
        <nav>

        </nav>
        <!-- Navigation Bar Section Ends  -->

        <!-- Container Section Starts  -->
        <div class="container">
            <div class="leftContainer">

            </div>
            <div class="rightContainer">

            </div>
        </div>
        <!-- Container Section Ends -->

        <!-- Footer Section Starts  -->
        <div class="footer">

        </div>
        <!-- Footer Section Ends  -->

    </main>
    <!-- Main section ends  -->

</body>
</html>